@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap'); */

@theme {
    --color-ss-red-400: hsl(7, 99%, 70%);
    --color-ss-yellow-500: hsl(51, 100%, 49%);
    --color-ss-green-800: hsl(167, 40%, 24%); /* (graphic design text) */
    --color-ss-blue-800: hsl(198, 62%, 26%); /* (photography text) */
    --color-ss-green-500: hsl(167, 34%, 41%); /* (footer) */

    --color-ss-grey-950: hsl(212, 27%, 19%);
    --color-ss-grey-600: hsl(213, 9%, 39%);
    --color-ss-grey-550: hsl(232, 10%, 55%);
    --color-ss-grey-400: hsl(210, 4%, 67%);
    --color-ss-white: hsl(0, 100%, 100%);
    
    --font-body: Barlow;
    --font-headings: Fraunces;
}

#triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 40px 40px;
    border-color: transparent transparent white transparent;
    transform: rotate(0deg);
}